@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#6B240C;
    --sec-color:#994D1C;
    --third:#E48F45;
    --white:#F5CCA0;
    --family:"Fira Sans", sans-serif;
--familio:"Metal Mania",system-ui;
}
body{
    background-color:var(--third);
    font-family: var(--family);
    color:var(--primary-color) ;
    font-size:  1.4em;
    overflow-x:hidden;
    
}
@media screen and (max-width: 37.74em) {
  .header{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 27.74em) {
  .aerial{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 23.12em) {
  .header{
    display: flex;
    flex-direction: column;
  }
}
   
   

.ribbon1 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
  }
  .ribbon1 {
    --s: 1.8em; 
    --d: .8em;  
    --c: .8em;  
    
    padding: var(--d) calc(var(--s) + .5em) 0;
    line-height: 1.8;
    background:
      conic-gradient(from  45deg at left  var(--s) top var(--d),
       #0008 12.5%,#0000 0 37.5%,#0004 0) 0   /50% 100% no-repeat,
      conic-gradient(from -45deg at right var(--s) top var(--d),
       #0004 62.5%,#0000 0 87.5%,#0008 0) 100%/50% 100% no-repeat;
    clip-path: polygon(0 0,calc(var(--s) + var(--d)) 0,calc(var(--s) + var(--d)) var(--d),calc(100% - var(--s) - var(--d)) var(--d),calc(100% - var(--s) - var(--d)) 0,100% 0, calc(100% - var(--c)) calc(50% - var(--d)/2),100% calc(100% - var(--d)),calc(100% - var(--s)) calc(100% - var(--d)),calc(100% - var(--s)) 100%,var(--s) 100%,var(--s) calc(100% - var(--d)),0 calc(100% - var(--d)),var(--c) calc(50% - var(--d)/2));
    background-color: #D95B43; 
    width: fit-content;
    text-transform: capitalize;
    font-family:var(--familio) ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
  }


.ribbon {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
  .ribbon {
    --r: .8em; 
    padding-inline: calc(var(--r) + .3em);
    line-height: 1.6;
    clip-path: polygon(0 0,100% 0,calc(100% - var(--r)) 50%,100% 100%,0 100%, var(--r) 50%);
    background: #CC333F; 
    width: fit-content;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    

  }
  .rib{
    display: grid;
    place-content: center;
    align-content: center;
    padding-top: 2rem;
  }

 
.ribbon2 {
    font-size: 20px;
    font-weight: bold;
    color:var(--white);
  }
  .ribbon2 {
    --r: .8em; 
    border-block: .5em solid #0000;
    padding-inline: .5em calc(var(--r) + .25em);
    line-height: 1.2;
    clip-path: polygon(100% 0,0 0,0 100%,100% 100%,calc(100% - var(--r)) calc(100% - .25em),100% 50%,calc(100% - var(--r)) .25em);
    background:
     radial-gradient(.2em 50% at left,#000a,#0000) border-box,
     #994D1C padding-box; 
    width: fit-content;

    display: grid;
    place-content: center;
    align-content: center;
  }
  
  .box {
    position: relative;
    transform-style: preserve-3d;
  }
  .box::before {
    content: "";
    position: absolute; 
    inset: 0px;
    background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
    filter: blur(10px);
    transform: translate3d(0px,0px,-1px);
    pointer-events: none;
  }
